@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unbounded&display=swap");

.App {
  position: relative;
  min-height: 100vh;
  background-image: url("../imgs/Comfortable-gradient-transparent-corner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-logo {
  position: absolute;
  top: 50%;
  height: 200px !important;
  img {
    height: 100px;
  }
}

.lottieText {
  position: absolute;
  width: 35%;
  bottom: 19%;
  right: 6%;
  border: 15px solid black;
  border-radius: 19px;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-title {
  position: absolute;
  top: 10%;
  left: 20%;
  h1 {
    font-family: "Unbounded", sans-serif;
  }
}
